body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: whitesmoke; 
  }
 
  
table{
	border-collapse: collapse;
	
	}
	
th {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  border: 1px solid black; 
         }

 
td {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  border: 1px solid black; 
         }
#title {

}
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
