form, form * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.container {
    display: block;
}

.container > span.label {
    width: 100px;
    display: inline-block;
}

.container > input[type="text"] {
    width: 200px;
    display: inline-block;
}
.container > input[type="submit"] {
    width: 200px;
    margin: auto;
    display: inline-block;
}