/*
nav	{
    color:		white;
    background-color:	blue;
}
*/

a	{
    color:		white;
    background-color:	blue;
    border-style:	groove;
}

h1	{
    color:		white;
    background-color:	green;
}

h2	{
    color:		green;
    background-color:	white;
}

.PositionsAuspraegungsFeld   {
    color:		white;
    background-color:	blue;
    width:		3.5em;
}

th	{
    color:		pink;
    background-color:	black;
}

tr	{
    color:		black;
    background-color:	pink;
}
