h1          { background-color: #A9BCF5; color: #EFFBFB; text-align: center; }
table {background-color: #A9F5F2;}
tr:nth-child(2n) 	{background-color: #EFFBFB;}
th 					{font-size: 2.1em;text-align: center;background-color: #A9BCF5; color: #EFFBFB}
td  				{font-size: 2.1em;text-align: center}
.gleichgroß {width: 90; height: 60px;}
